* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main { 
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}
.input-text{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit-btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button{
    padding: 8px;
    margin: 9px 0;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn{
    background-color: #f39c12;
}
hr{
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-text{
margin-bottom: 25px;
}